
<!-- Header consisting of all the navigation items  -->
<app-header></app-header>

<!-- Background image  -->
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">

<div class="container">
    <br />
    <h1> Terms and Conditions </h1>
    <br />
    <br />
    <h5>Date Last Revised for Wally, Wally Payments Inc. and Wally: April 17th, 2019</h5>
    <br />
    <h6 class="subtitles">General Terms</h6>
    <br />
    <p>
        These Terms of Use and Additional Terms and Conditions (“Agreement”) set forth the terms and conditions that
        apply to your access and use of the Mint.com and mobile App (Wally Services”) as owned and operated by Intuit
        Inc., its subsidiaries and/or affiliates, and bill payment services ("Bill Payment Services") as owned and
        operated by Intuit Payments Inc., its subsidiaries and/or affiliates. Except as otherwise specifically stated
        herein, Intuit Inc. and Intuit Payments Inc. are collectively known as “Intuit.” Mint Services and Bill Payment
        Services are collectively the "Services". Portions of our Bill Payment Services are provided by Intuit Payments
        Inc. which is a licensed money transmitter in applicable states. For Intuit's money transmitter license and
        complaint information, click here. Intuit Payments Inc. is located at 2700 Coast Avenue, Mountain View, CA
        94043. For questions, please contact 855-646-3486. As used in this Agreement, the term "Sites" includes all
        Wally
        Services and Bill Payment Services websites, pages that are associated or within each website and all devices,
        applications or services that Intuit operates or offers that link to this Agreement. By accepting electronically
        (for example, clicking “I Agree”), installing, accessing or using the Services, you agree to be bound by the
        terms and conditions of this Agreement and Intuit Privacy and Security Policy, as they may be amended from time
        to time in the future (see “Modifications” below). If you do not agree to this Agreement, then you may not use
        the Services.
    </p>

    <br />
    <h6 class="subtitles">Accepting the Terms</h6>
    <br />
    <p>
        By using the information, tools, features, software and functionality including content, updates and new
        releases provided by Intuit of the Mint Services or the Bill Payment Services, you agree to be bound by this
        Agreement, whether you are a “Visitor” (which means that you simply browse the Wally.com website), or a
        “Customer” (which means that you have registered for an account with us to use any one of our Services.) The
        term “you” or “User” refers to a Visitor, Member or Customer. The term “we” refers to Intuit. If you wish to
        become a Customer or want to make use of the Services, you must read this Agreement and indicate your acceptance
        during the registration process.
    </p>

    <br />
    <h6 class="subtitles">Description of the Services</h6>
    <br />
    <p>
        The Wally Service is a personal finance information management service that allows you to consolidate and
        track your financial information. The Mint Service is provided to you by Intuit without charge (it is free) and
        is meant to provide you with your information to allow you to organize and manage your finances.

        The Wally Service may also include a service that provides your one-bureau credit summary, credit score and
        monitoring alerts (“Credit Score Service”). You may have the option to obtain this Credit Score Service for free
        or elect to purchase an upgraded version of this service that provides you information from multiple credit
        bureaus (“Mint Credit Monitoring”).
    </p>


    <br />
    <h6 class="subtitles">Your Registration Information and Electronic Communications</h6>
    <br />
    <p>In order to allow you to use the Services, you will need to sign up for an account with Intuit.
        We may verify your identity. You authorize us to make any inquiries we consider necessary to validate your
        identity.
        These inquiries may include asking you for further information, requiring you to provide your full address,
        your date of birth, your social security number and/or requiring you to take steps to
        confirm ownership of your email address or financial instruments, ordering a credit report, or verifying
        information you provide against third party databases or through other sources. If you do not provide this
        information or Intuit cannot verify your identity, we can refuse to allow you to use the Services.
    </p>
    <br />
</div>

<!--Footer with Quick links and social media sites-->>
<app-footer></app-footer>

