<!-- Header consisting of all the navigation items  -->
<app-header></app-header>

<!-- Background image  -->
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">

<br />
<div class="container">
    <h2> Affiliates and Partners </h2>
    <br />
    <br />
    <h4>
        Reach people who matter most to your business
    </h4>
    <p>
        Partner with us and reach millions of engaged users who are actively managing their case flow, budgets, and
        investments with WALLY. Take advantage of WALLY's ability to reach individuals who are looking for new
        ways
        to save and invest money, enabling you to get the most value from your ad spend.
    </p>
    <br />
    <h2>Partners</h2>
    <div class="row">
        <div class="column">
            <img class="cr" src="../../assets/images/Tripti.png" alt="partner-image" width="250px" height="250px">
            <br>
            TRIPTI
        </div>
        <div class="column">
            <img class="cr" src="../../assets/images/Siva.png" alt="partner-image" width="250px" height="250px">
            <br>
            KEERTHANA SIVA
        </div>
        <div class="column">
            <img class="cr" src="../../assets/images/Ashish.png" alt="partner-image" width="250px" height="250px">
            <br>
            ASHISH
        </div>
        <div class="column">
            <img class="cr" src="../../assets/images/Ravi.png" alt="partner-image" width="250px" height="250px">
            <br>
            KEERTHANA THOODDOON RAVI
        </div>
    </div>

</div>

<!--Footer consisting of quick links and social media sites-->
<app-footer></app-footer>