<!-- Header consisting of all the navigation items  -->
<app-header></app-header>

<!-- Background image  -->
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">


<div class="container">
<h2> Press </h2>
<br/>
<h4>
    Press and Industry Analyst Relations Contacts
</h4>
<br />
<p>

    These numbers are for press and industry analyst relations only. All offices are in Mountain View, Calif., with the
    exception of TurboTax and Global offices in Canada, the U.K., Australia and India. For technical and product
    support, please refer to contact information on the product's Web site.

    Wally's media relations team provides assistance and information to journalists and editors. Journalists who
    need information or an interview with Intuit, can expedite their inquiry by providing details regarding their
    request in the Press Inquiry Form.

</p>
<br />
<h6><b>Corporate Public Relations</b></h6>
Acquisitions, Earnings, Executives, Strategy
<br />
Diane Carlini
<br />
Senior Manager
<br />
650-944-6251 office
<br />
408-921-7647 cell

<br />
<br />
<h6><b>Industry Analyst Relations</b></h6>
Corporate, Small Business, Consumer
<br />
Diane Carlini
<br />
Senior Manager
<br />
650-944-6251 office
<br />
408-921-7647 cell

<br />
<br />
<h6><b>TurboTax</b></h6>
Public Relations
<br />
Ashley McMahon
<br />
Senior Manager
<br />
858-603-5593 cell
<br />
858-215-9069 office
</div>

<!--Footer consisting of quick links and social media sites-->>
<app-footer></app-footer>