#Javascript Gitignore including log files and node modules

# misc
/connect.lock
/coverage/*
/report_*
/reports/
.sass-cache/
*.log

# output
/.temp
/.tmp
/build
/dist

# dependencies
/node_modules
.package.swp

# linters
.eslintcache/
.eslintrc
.eslintrc.yaml
.eslintrc.json
.eslintrc.js
.stylelintcache/
.stylelintrc
.stylelintrc.yaml
.stylelintrc.json
.stylelintrc.js



