
<!-- Header consisting of all the navigation items  -->
<app-header>Security</app-header>

<!-- Background image  -->
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">

<br/>
<h2> Security </h2>
<br/>
<br/>

<h3>
  Multi-factor authentication and more
</h3>

<p>We use strong security measures designed so only you can access your info. Rather than just a login and password, we also notify you of account changes with data from a second source or with information only you will have, like special security questions or a code from a text message or email.</p>

<br/>
<h3>
  We safeguard the mobile app</h3>
<p>We safeguard Mint with your own 4-digit code so only you can view your account. You can also enable Touch ID if you choose. If your mobile device is ever lost or stolen, you can delete all your account information remotely.</p>


<app-footer></app-footer>
