<app-header>Join Our Team</app-header>



<div style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">
    <div class="bg-image" >
    <br />
    <h2> Join Our Team </h2>
    <br />
    <br />




    <h2>
        Do the best work of your life
    </h2>

    <p>
        Be inspired by a culture in which everyone innovates. And by a company where passionate people make us a Fortune
        “Best Place to Work” year after year.
    </p>

    <br />
    <h3>
        10% unstructured time</h3>
    <p>
        We encorage all our people to spend upto 10% of their working hours pursing any idea they are passionate
        about.We call it Unstructured time.And typically all employees
        use it to solve new customer problems, improve our code/work environment or boost their professional
        development.
    </p>

    <br />
    <h3>
        Design 4 Delight</h3>
    <p>
        We start with deep customer empathy- knowing customers knowing better than themselves.Then we go broad to go
        narrow.Small,cross functional teams fall in love with the
        problem and create many rough prototypes to tackle it.Finally, we carry out rapid experiments that involve
        customers, testing ideas until winner emerges.
    </p>

    <br />
    <h3>
        PennyWise Labs</h3>
    <p>
        PennyWise Labs is the hub of our innovation culture and testing bed for hundreds of ideas and products.The teams
        build design and experimentation capability across the
        company.The result?Endless innovation stories
    </p>

    <br />
    <h3>
        Idea Jams</h3>
    <p>
        Idea Jams superchange innovation and spur design teamsm to get their idea out the door fast.Usually held over a
        day or two, they allow you to take a break from your
        day-to-day work and focus on solving on a big problem in a innovative way.
    </p>

</div></div>
<app-footer></app-footer>