<app-header></app-header>
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">

<div id="container" class="row">
   
   <img src="../../assets/dash.png" id="imageabt"  /> 
   <div id="right" class="col-lg-6">
      <h4>
         Know where you stand, and how you can improve
      </h4>
      <br/>
      <br/>
      <h5>
         The more accounts, cards and bills you link, the more we can help you do. See what you have and what you owe. 
         Understand where money goes and where you can cut back. Create budgets, track investments, discover new ways to save and more.
      </h5>
      <br/>
      <p>
         It’s free and easy to get started, and we connect to almost every US financial institution connected to the internet. In just minutes, you’ll see where your money is going and get 
         ideas on how to stretch it farther.PennyWise automatically updates and categorizes your information. From your bank accounts and credit cards to retirement accounts and 
         more—we’ll crunch the numbers as they happen so you know where you stand.
      </p>
      <h2>
         Why PennyWise?
      </h2>
      <p>
         PennyWise Spend is the first checking account with a debit card that saves, invests, and earns for you.
         <br/>
         PennyWise: The leading micro investing app, helping more than 3 million customers invest in the background of life.
         <br/>
         PennyWise Later: Our retirement account that welcomed more than 100,000 customers in its first month.
         <br/>
         PennyWise Spend: The only checking account with a debit card that saves, invests and earns for you.
   </div>
   <div id="left" class="col-lg-6">
      <h2>
         How much does it cost to use PennyWise?
      </h2>
      Prior to our subscription pricing, Acorns Core customers with a balance of at least $5,000 paid .25% per year. With the new subscription pricing, all Acorns Core customers will pay $1 per month, and all Acorns Later customers will pay $2 per month for Acorns Core and Acorns Later, until they have $1 million invested.
      <br/>
      <br/>
      <h2>
         How do Round-Ups work?
      </h2>
      When you link a credit or debit card to your Acorns Core account, we track the spare change from your transactions and make it available for you to invest. Simply choose what you would like to invest, or change your settings to automatically invest round-ups after each purchase.
      <br/>
      <br/>
   </div>
</div>
<app-footer></app-footer>