<!-- Header consisting of all the navigation items  -->
<app-header></app-header>

<!-- Background image  -->
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">

    <br/>
    <h2> FAQ </h2>
    <br/>
    <br/>

    <h3>
      Capital One transactions are missing or not downloaded
    </h3>
    
    <p>
      As part of the new connection method for Capital One using apps like Mint, your Wally accounts will update once every 24 hours. As a result, it can take up to 24-48 hours for cleared transactions available on the Capital One site, to be available in Mint.
    
    In addition, pending transactions are no longer available in Mint. Once a transaction has cleared, it will be visible in Wally within 24-48 hours.
    </p>
    
    <br/>
    <h3>
      Why is my account Closed or Inactive in Wally?</h3>
    <li>The account is closed, or no longer available at your banks website.</li>
      <li>The account is not authorized for 3rd party access.</li>
      <li>The account number changed (Ie: your credit card was lost or stolen and a new card was issued, etc.)</li>
    
    <br/>
    <h3>
      Why is my account not refreshing?</h3>
    <p>Check that you're using the correct username and password. If you're sure that your credentials are correct but they don't seem to work on PinnyWise</p>
    
    <br/>
    <h3>
      How can I exclude an account?</h3>
    <p>Hide an account: This means we’re still linked to your account and will still keep track of your transactions in it; we just won’t show it to you. (And you can choose how much you do or don’t want to see.)</p>
    
    <br/>
    <h3>
      What do I do if I forgot my password?</h3>
    <p>
      When resetting your password, you will need to enter the email you used to register for your Mint account, possibly verify your account, and then follow the instructions in the email you receive.
    </p>

    
<!-- Footer consisting social media sites and quick links-->
    <app-footer></app-footer>
    
    
    
    
    