<!-- Header consisting of all the navigation items  -->
<app-header></app-header>

<!-- Background image  -->
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">

<!-- <app-subheader *ngIf = "loggedInStatus"></app-subheader> -->
<div id="container" >
   <div >
  <br>
   <h3>
      Our Mission is powering prosperity around the world
   </h3>
   <p>
      We do it by attracting the world’s top talent, bringing vital partners into our global platform, and leaving the world a better place 
      through exceptional corporate citizenship.
   </p>
   <br/>
   <h3>
      More Money, More Time, More Confidence
   </h3>
   <p>
      Whatever prosperity means to you, we’re committed to working on your behalf and making it happen.So no matter your financial need, we have a solution that can help.
      Whether you’re a consumer, self-employed, or a small business owner,we’re in your corner to help make your dreams of prosperity come true.
   </p>
   <h3>
      Wally Fast Facts
   </h3>
   <br/>
   <li>
      Wally was founded in 2000
   </li>
   <li>We went public in 2000</li>
   <li>For the fiscal year of 2018: Wally grew revenue to $6.0 billion
   </li>
   <li>We employ 9,000 employees worldwide</li>
   <li>We have 19 locations in 9 countries</li>
   <li>Wally is featured on: Fortune 100 Best Companies to Work</li>
   <li>For the fiscal year of 2018: Wally grew revenue to $6.0 billion
   </li>
</div>
<br/>
<br/>
<div >
   <h3>
      We Connect People
   </h3>
   We move money for better, enabling individuals, families and friends to securely and seamlessly transfer money in the ways that are most convenient for them, whether that is 
   walking into a retail location or using our Western Union website or app to move money in minutes.
   Our customers use our services to send money to family members in nearly every part of the world, to provide support, recognize a special occasion, and enable entrepreneurship 
   or education.
   <br/>
   <br/>
   <h3>
      Business Goal
   </h3>
   As businesses have a growing need to move money around the globe and transact in different currencies, we’ve answered these needs with Western Union Business Solutions to help 
   navigate the global economy, including solutions for International Payments, Risk Management, and Cash Management Solutions. We offer a wide range of industry-specific solutions 
   that today help over 50,000 clients including financial institutions, educational institutions, NGOs, and small/medium sized businesses needing to make cross-border payments.
</div>
</div>
<br/>

<!-- Footer with the quick links and navigation bar -->
<app-footer></app-footer>