body {
    font-family: Segoe UI;
    font-size: 15px;
    background-color: #ffffff;
  }
  
  p,a, h1{
    font-family: Segoe UI;
    color: #000000;
  }
  
  #container{
    margin-left: 2%;
    width: 95%;
  }
  
  #imageabt{
    margin-top:3%;
    width:600px;
    height:300px;
    }
  
    #imageabt1{
      margin-left: -47%;
      width:550px;
      height:300px;      
      }
  
    #right {
      margin-top: -25%;
      margin-left: 49%;
      }
  
  #img2{
    float:right;
    margin-left:50%;
    margin-top: -3%;
    width:700px;
    height:400px;
  }
  
  #left {
    margin-top: -25%;
  }
  
  @media only screen and (max-width: 768px) {
    #container{
      display: block;
       margin:0px;
       width: 75%;
          }
          
    #imageabt, #imageabt1, #img2{
        display: none;
        
      }
    
    #right {
      margin-top: 2%;
      margin-left: 20%; 
      }
      
      #left {
        margin-left: 20%;
        margin-top: -10%;
        }
  }
  
  
  @media only screen and (max-width: 1024px) {
    #container{
      display: block;
       margin:0px;
       width: 75%;
          }
          
    #imageabt, #imageabt1, #img2{
        display: none;
      }
    
    #right {
      margin-top: 2%;
      margin-left: 20%; 
      }
      
      #left {
        margin-left: 20%;
        margin-top: -5%;
        }
  }