<!-- Header consisting of all the navigation items  -->
<app-header></app-header>

<!-- Background image  -->
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">

<!-- <app-subheader *ngIf = "loggedInStatus"></app-subheader> -->

<div id="container" class="row">
    
    <img src="../../assets/images/carloan1.jpg" id="imageabt" />
    
    <div id="right" class="col-lg-6">
    <br><br><br>
    <h3> FINANACIAL IQ </h3>
    <br/>  
    <h5> What to Do When Your Car Loan Is Higher Than the Value of the Car? 

    </h5>
    <p>
    It’s stressful enough having a car loan over your head and staying on top of your monthly payments. But what if you have an upside-down car loan — in other words, the amount you owe on your set of wheels is higher than its actual value?  
    It might happen if you had offered a small down payment.  Maybe your employer lays you off, or you get divorced and your'e
    x-spouse starts receiving half your paycheck. If you feel like your back is up against the wall, not to worry. 
    </p>
    </div>
    <br>
    <br>
    <br/>
    <br/>

    <img src="../../assets/images/credit1.jpg" id="img2" /> 
    
    <div id="left" class="col-lg-6" >
    <h3> CREDIT INFO </h3>
    <br/>
    <h5> How Recent Immigrants to the U.S. Can Build Credit? </h5>
    
    <p>
    In many ways, our credit determines our power as consumers. The strength of our credit profile and score enable us to rent an apartment, take out a car loan, and sign up for a cell phone number. Can you imagine moving to another country, and having little to no credit history? 
    That’s exactly what those who are new in the U.S.The number of people who are foreign-born in the U.S. has reached its highest since 1910. And according to the Migration Policy Institute (MPI), there are over 44 million immigrants living in the U.S., or 13.7 percent of the population. The foreign-born population is anticipated to continue to grow.  
    </p>
    </div>
    
    <img src="../../assets/images/tax.jpg"  id="imageabt1"/>
    
    <div id="right" class="col-lg-6" >
    <h3> TAX REFUND </h3>
    <br/>
    <h5> 5 Ways to Optimize Your Tax Refund </h5>
    <p>
    With tax day right around the corner, you may be wondering how best to use your tax refund. The average refund, according to the latest IRS data, comes in at
    $2,873—a good chunk of money that could help you make some real headway on your financial goals.High-interest debt is a serious wealth killer, especially if you’re 
    carrying balances from month to month on multiple credit cards. The Federal Reserve reports that the average credit card APR these days hovers at about 16.9 percent.
    What’s more, the average debt for balance-carrying households in the U.S. is a whopping $9,333, according to recent ValuePenguin research.
    </p>
    </div>

</div>

<!-- Footer consisting social media sites and quick links-->
<app-footer></app-footer>
