<!-- Header consisting of all the navigation items  -->
<app-header></app-header>

<!-- Background image  -->
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg');">

<div class ="mob">
  <ngb-carousel>
  <ng-template ngbSlide>
    <img class = "cr" src="../../assets/2.jpg" alt="Random first slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class = "cr" src="../../assets/images/coin.jpg"  alt="Random second slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class = "cr" src="../../assets/images/3.jpg" alt="Random third slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>
</div>
<!--Multiple card support div-->>
<div class="panel panel-default">
    <div class="panel-body">
        <div id="section1" class="container-fluid" style="padding-top:70px;padding-bottom:10px; width: 80%;">
            <h1 class="featureHeader"><b>Multiple card support</b></h1>
          <div class="row" style="padding-bottom: 20px;">
              <div class="col-6">
                  <div class ="imgl">
                  <div class="card">
                    <img class="card-img-top" src="/assets/images/credit.jpg" alt="Card image" style="height:50%; width:100%;">
                    </div>
                    </div>
              </div>
              <div class="col-xl-6 "> 
                  <p class="feature1Txt">
              Can support multiple cards and links payment information with the corresponding cards and accounts.
              Clients can make payments with their credit cards on file without re-entering the card information
              Revolutionary multi-card technology. <br/><br/>
              Consumer-ready. Proven to work at retail locations worldwide. Location tracking. Holds up to 30 cards.</p>
              </div>
          </div>
<!--Budget tracking -->
          </div>
          <div id="section2" class="container-fluid" style="padding-top:30px;padding-bottom:10px;width: 80%;">
              <h1 class="featureHeader"> <b>Budget tracking</b></h1>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-xl-6 "> 
                  <br/>
            <p class="feature2Txt">Create budgets that make sense today and set you up for success tomorrow.
            See bills and money together, so you know what’s due, when it’s due and what you can pay.
            <br/><br/>Receive alerts for unusual account charges, and get custom tips for reducing fees and saving money.</p>
                </div>
              <div class="col-6">
                    <div class="card ">
                      <img class="card-img-top imageModify" src="/assets/images/3.jpg" alt="Card image" style="width:100%; height:30%">
                      </div>
                </div>
                
            </div>
            </div>

<!-- Bill Categorizing -->
            <div id="section1" class="container-fluid" style="padding-top:30px;padding-bottom:10px; width: 80%;">
              <h1 class="featureHeader"><b> Bill categorizing</b></h1>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-6">
                    <div class="card">
                      <img class="card-img-top" src="/assets/images/billing.jpg" alt="Card image" style="height:100%; width:100%;">
                      </div>
                </div>
                <div class="col-xl-6 "> 
                  <br/>
                    <p class="feature1Txt">You can organize your expenses in the right category so you can see your spending totals across each category.
             Your bills and money are together in one place and easier than ever to track.<br/><br/> Just add your bills to see how helpful we can be.
            Get alerts about upcoming bills.
           Say goodbye to late fees.	</p>
                </div>
            </div>
            </div>
            
<!-- Credit Score Check -->
            <div id="section2" class="container-fluid" style="padding-top:30px;padding-bottom:10px;width: 80%;">
              <h1 class="featureHeader"> <b>Credit score check</b></h1>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-xl-6 "> 
            <p class="feature2Txt"> Credit monitoring and easy access to your credit report. Check your scores anytime, and never pay for it.
                
            Everyday Access to your  Credit Report so that you always know where you stand.
            
            Score Factors that show what’s positively or negatively impacting your Score.
            <br/>
            <br/>
            Daily Monitoring of your  Credit Report to help you stay on top of key changes.
            
            Personal Support from our dedicated team of credit and Fraud Resolution Agents.</p>
                </div>
              <div class="col-6">
                    <div class="card ">
                      <img class="card-img-top imageModify" src="/assets/images/Credit_score.png" alt="Card image" style="height:80%; width:80%">
                      </div>
                </div>
                
            </div>
    </div>
  </div>
</div>

<!--Footer consisting of quick links and social media sites-->
<app-footer></app-footer>